@import "../../App.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  width: 100%;
  background-image: linear-gradient(
    115deg,
    rgba(#eaeaea, 1) 0%,
    rgba(#eaeaea, 1) 25%,
    rgba(#fff, 1) 25%
  );
  box-shadow: 0 1rem 2.5rem rgba(#000, 0.2);

  & h1 {
    padding: 1rem 1.5rem;
    margin: 0.5rem 1rem;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    padding: 1rem 1.5rem;
    margin: 0.5rem 1rem;

    &_item {
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
